dark()
  @media (prefers-color-scheme dark)
    block

@font-face
  font-family 'icon'
  src url('font/icon.woff2') format('woff2'),
      url('font/icon.woff') format('woff')
  font-weight normal
  font-style normal
  font-display block

*,::placeholder
  font-size inherit
  font-family inherit
  color inherit
  margin 0
  padding 0
  border 0
  box-sizing border-box
  background-repeat no-repeat
html
  overflow auto
ol,ul
  list-style-type none
a
  text-decoration none
input,button,textarea
  outline none
  background none
  appearance:none
  border: none
  resize: none
::-webkit-search-cancel-button,::-webkit-search-decoration
  -webkit-appearance none
body
  --l #E5E1DC
  --d #424242
  --a rgba(218,162,138,.9)
  --l5 rgba(229, 225, 220, .5)
  --d5 rgba(66, 66, 66, .5)
  --l05 #4B4A4A
  --d05 #DEDAD5
  --g rgba(217,115,91,.9)
  --c rgba(219,166,103,.9)
  --w rgba(151,195,198,.9)
  --o rgba(127,128,141,.9)
  font-family icon,'M PLUS 1p',sans-serif
  color var(--d)
  background var(--l)
  +dark()
    color var(--l)
    background var(--d)
  position relative
  overflow hidden
  padding 0 1rem
  &:before,&:after
    content ""
    width 5000px
    height 520px
    transform skewY(-6deg)
    position absolute
    right calc(-2500px + 50vw)
    z-index -2
  &:before
    background rgba(151,195,198,.9)
    bottom 1
    transform-origin top left
  &:after
    top 1
    transform-origin bottom left
body:after,#category a:hover,#Voting,.top .top,.Gadget .Gadget,.Camera .Camera,.Web .Web,.Other .Other,.active,.chroma,#name,#mail,#form,#submit,#categoryAlert
  background var(--d05)
  +dark()
    background var(--l05) 
header,footer,main
  position relative
header,main,#searchResult
  margin auto
header,footer
  min-height 250px
  max-width 800px
  display flex
header
  margin 0 auto 4em auto
  align-items center
footer
  margin 4rem auto 2rem auto
  padding-top 5rem
main,#searchResult
  max-width 700px
h1,h2,h3,h4,h5,h6,#bar,#submit
  font-family icon,Helvetica,"游ゴシック Medium","Yu Gothic",YuGothic,-apple-system,Verdana,Meiryo
  font-feature-settings: "palt";
h2,aside h4
  font-size 1.5em
h3,#article h4
  font-size 1.2em
h5,h6
  font-size 1.2em
p
  font-family Helvetica,'M PLUS 1p',sans-serif
  font-size .95em
  letter-spacing .1em
  line-height 1.7em

#bar
  font-size .8rem
  width 100vw
  height 1.4rem
  padding .2rem 1rem
  background var(--d)
  margin 0 -1rem
  display flex
  align-items center
  transition opacity .4s
  will-change opacity
  a,time
    color var(--l)
    display flex
    align-items center
    margin 0 1rem .1rem 0
  h1,h4
    margin-left 1rem
  time
    margin-left auto
    @media (max-width:500px)
      display none
    
.category:before,.post:before
  content "\e904"
      
.Gadget:before
  color var(--g)
.Camera:before
  color var(--c)
.Web:before
  color var(--w)
.Other:before
  color var(--o)
  
.post
  display flex
  padding 1rem 1rem 1.3rem 1rem
  margin .6rem -1rem
  border-radius 2.3rem
  transition background .4s
  will-change background
  overflow hidden
  position relative
  p
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
    @media (max-width: 600px)
      display none
  &:before
    opacity  .6
    font-size 7.5rem
    position absolute
    bottom 1rem
    left .5rem
    transition transform .4s
    will-change transform
    @media (max-width: 600px)
      display none
  &:hover
    background var(--d05)
    +dark()
      background var(--l05) 
  &:hover .post-tmb
    animation quick .3s
    will-change transform
  &:hover:before
    transform translate(-.2rem,.2rem)
.post-meta
  font-weight bold
.post-data
  flex 1
  display flex
  flex-direction column
  justify-content center
.post-tmb
  clip-path url("#tmb")
  width 7.5rem
  height 7.5rem
  will-change: transform
  @media (max-width: 600px)
    display none
main a:first-child article,aside h4+a article
  position relative
  &:after
    color var(--g)
    content: "\e900";
    font-size 3rem
    position absolute
    top -1rem
    right 2.4rem
    width 1.5rem
    transition transform .4s
    will-change: transform;
  &:hover:after
    transform translateY(.7rem)

#left,#center,#right
  font-size .8rem
  padding-top 3rem
  width 50%
  color rgba(66, 66, 66,.3)
  +dark()
    color rgba(229,225,220,.3)
  transition opacity .4s
  will-change opacity
  a
    transition color .4s
    will-change color
  a:hover
    color var(--d)
    +dark()
      color var(--l)
#center
  max-height 9.5rem
  overflow scroll
  &:before,&:after
    content ""
    width 50%
    height 3rem
    position absolute
    left 30%
    background linear-gradient(to bottom,rgba(229,225,220,0) 0%, var(--d05) 50%,var(--d05) 100%)
    +dark()
      background linear-gradient(to bottom,rgba(75,74,74,0) 0%,#4B4A4A 80%,#4B4A4A 100%)
  &:before
    bottom 8rem
    transform rotate(180deg)
  &:after
    bottom .5rem
#right
  display flex
  justify-content flex-end
  text-align right
  h6
    margin-bottom .5rem
#portfolio
  border-radius 50%
  margin-left .5rem
  width 3rem
  height 3rem
.twitter,.insta
  font-size 1.5rem
  margin-left .3rem
  
#breadcrumb
  font-size 1rem
  font-weight bold
  display flex
  align-items center
  position absolute
  top 6rem
  left 0
  opacity .7
  z-index 7
  li
    &:not(:first-of-type):before
      content "\e907"
      margin 0 .5em
      font-size .8em
      font-weight normal
      opacity .8
#tag li
  display inline-block
  &:after
    content ","
    margin-right .3rem
.logo:before
  content "\e902"
  font-size 1.3em
  font-weight normal

.search-box
  right 0
  position absolute
.search
  color var(--d)
  +dark()
    color var(--l)
  width 12rem
  height 2rem
  padding 1rem 1.7rem 1rem .7rem
  position relative
  border-radius 1rem
  &:hover+.submit
    color var(--d)
    +dark()
      color var(--l)
.submit
  position absolute
  right .5rem
  top 0
  bottom 0
  margin auto
  cursor: pointer;
  transition color .4s
  will-change color

header .search-box
  bottom -1.5rem
  .search
    background var(--d05)
    +dark()
      background var(--l05)
  .submit
    color var(--l)
    +dark()
      color var(--d)
footer .search-box
  top 1.5rem
  .search
    background var(--l)
    +dark()
      background var(--d)
  .submit
    color var(--d05)
    +dark()
      color var(--l05)
      
#fixed
  color var(--l)
  font-size 2rem
  width 7rem
  height 7rem
  padding 1.2rem .9rem
  position fixed
  top 0
  left 0
  background linear-gradient(to top left, rgba(255,255,255,0) 50%, var(--w) 50.5%) no-repeat top left/100% 100%
  transition .4s
  opacity 0
  transform translate(-7rem, -7rem);
  z-index 9
.fixed
  opacity 1 !important
  transform translate(0) !important
  
*
  cursor none !important
::selection
  background rgba(151,195,198,.3)
  +dark()
    colour var(--d)
#cursor
  position relative
  will-change transform,width,height
  position fixed
  top -.3rem
  left -.3rem
  width .6rem
  height .6rem
  background rgba(177, 177, 177, .8)
  filter: drop-shadow(0 0 .3rem var(--l));
  +dark()
    filter: drop-shadow(0 0 .3rem var(--d));
  border-radius 1rem
  z-index 99999
  pointer-events: none
  transition opacity .2s,width .2s,height .2s,top .2s,left .2s,background .2s,border-radius .2s
  &.zoom
    top: -.5rem
    left: -.5rem
    width: 1rem
    height: 1rem
  &.red
    background var(--w)
  &.text
      top -.5rem
      left -.05rem
      width .1rem
      height 1rem
      border-radius 0
  &.opacity
    opacity 0
.click
    content ""
    position absolute
    top -1.7rem
    left -1.7rem
    border-radius 9rem
    background rgba(189, 189, 189, .1)
    width: 4rem
    height: 4rem
    animation drop 1s
    z-index 9999
    opacity 0
@keyframes drop
  0%
    opacity 0
    transform scale(0)
  50%
    opacity 1
  100%
    opacity 0

@media (max-width: 600px)
  header
    margin 0 auto 4em auto
  header .search-box
    bottom -2rem
  footer
    margin 4rem auto 1rem auto
  footer .search-box
    top 1rem
  #breadcrumb
    top 4rem
  #left, #center, #right
    margin-top 1rem
          
@font-face
  font-family 'M PLUS 1p'
  font-style normal
  font-weight normal
  font-display swap
  src local('M PLUS 1p Light'), local('MPLUS1p-Light'),
       url('font/m+r1c-light-sub.woff2') format('woff2'),
       url('font/m+r1c-light-sub.woff') format('woff')
@font-face
  font-family 'M PLUS 1p'
  font-style bold
  font-weight bold
  font-display swap
  src local('M PLUS 1p Medium'), local('MPLUS1p-Medium'),
       url('font/m+r1c-medium-sub.woff2') format('woff2'),
       url('font/m+r1c-medium-sub.woff') format('woff')
       
@keyframes quick
 0%
   transform: rotate(0) scale(1);
 50%
   transform: rotate(5deg) scale(1.1);
 100%
   transform: rotate(0) scale(1);