dark()
  @media (prefers-color-scheme dark)
    block   
main
  max-width 500px
h2
  margin 1.5rem 0 .5rem 0
#name,#mail,#form,#submit
  border-radius 2rem
  line-height 1.1em
#name,#mail,#form
  width 100%
  padding 1rem
#form
  height 7em
#submit
  margin 1rem 0 0 auto
  font-weight bold 
  padding .8rem 1.5rem
  display block 
  &:hover
    background var(--d)
    color var(--l)
    +dark()
      background var(--l)
      color var(--d)