dark()
  @media (prefers-color-scheme dark)
    block   

@font-face
  font-family 'Athens'
  src url('font/athens-regular-italic-sub.woff2') format('woff2'),
      url('font/athens-regular-italic-sub.woff') format('woff')
  font-weight normal
  font-style normal
  font-display block

header
  justify-content center

#categoryBox
  font-size 1.2rem
  display flex
  justify-content center
  margin -1.7rem -1em 1.7rem -1em
  position relative
  @media (max-width: 500px)
    margin-bottom 0
  @media (max-width: 552px)
    &:before,&:after
        content ""
        width 1.5em
        height 100%
        position absolute
        top 0
        background: linear-gradient(to left,rgba(229,225,220,0) 0%, var(--l) 50%,var(--l) 100%);
        +dark()
          background: linear-gradient(to left,rgba(66,66,66,0) 0%, var(--d) 50%,var(--d) 100%);
      &:before
        left 0
      &:after
        right 0
        transform rotate(180deg)
#category
  display flex
  overflow-y scroll
  &:before,&:after
    content ""
    min-width 1.2em
.category
  font-family icon,Athens
  margin .3rem
  padding .6rem
  border-radius .9rem
  transition background .4s
  will-change background
  display flex
  align-items center
.category:before
  font-size 1.3rem
  margin-right .2rem 
#category .top:before
  display none
  
#top
  color var(--l)
  font-size 5rem
  margin-bottom 20px

#pagenation
  position absolute
  bottom -4rem
  left 0
.page-active,.page
  font-size .8rem
  position relative
  margin 0 .5rem
.page-active:after,.page:after,.page:hover:after
  font-size 1.3rem
  content "\e904"
  position absolute
  bottom 1rem
  left -.4rem
.page:after
  content "\e906"
.skip
  position relative
  top -1.3rem
  
.close
  display none
.none .category
  background none
  
#categoryAlert
  font-size 1.5rem
  padding 2rem 3rem
  z-index 99
  border-radius 2rem
  width 12rem
  height 6rem
  position fixed
  top calc(50% - 3rem)
  left calc(50% - 6rem)
  justify-content center
  align-items center
  animation opacity 1.3s forwards
  will-change opacity
  display flex
  box-shadow 0 0 10px var(--d5)
  
@keyframes opacity
  0%
    opacity 0
  20%
    opacity 1
  80%
    opacity 1
  100%
    opacity 0
    visibility hidden