textarea {
  height: 10.1em;
}

#outputInput {
  height: 15.1em;
}

@media (min-width: 600px) {
  #textarea-flex {
    display: flex;
    margin: auto;
  }

  #textarea-flex div {
    width: 50%;
  }

  #textarea-flex div:first-child {
    margin-right: 1em;
  }
}